<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqCgFwRy3PRpZ0dZNl-bCYvwqU3samvXM</string>
	<key>GCM_SENDER_ID</key>
	<string>860899860233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ranksprint</string>
	<key>PROJECT_ID</key>
	<string>ranksprint</string>
	<key>STORAGE_BUCKET</key>
	<string>ranksprint.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860899860233:ios:97aecbfc3b361ddf633dd8</string>
</dict>
</plist>